<fieldset class="theme-switcher" id="theme-switcher">
  <legend class="visually-hidden">choose a theme</legend>
    <label for="garden" title="stardew valley">
    <input class="theme-option" name="theme" type="radio" id="garden" value="garden" checked>
      <img eleventy:ignore src="/img/garden-icon.png" alt=""/>
      <span class="visually-hidden">stardew valley</span>
  </label>
</fieldset>